---

# focus aberration loaded from disc
# lift configuration
# petal to M4 modes (optional)

main:
  class:             'SimulParams'
  root_dir:          '/home/frossi/PASSATA_scripts/data/data'
  pixel_pupil:       400
  pixel_pitch:       0.0975                 # 39./400. [m] Pitch of the pupil phase array
  total_time:        5.000                  # [s] Total simulation running time
  time_step:         0.002                  # [s] Simulation time step
  zenithAngleInDeg:  30.0                   # [deg] Zenith angle
  display_server:    false

# server:
#   class:             'DisplayServer'
#   host:              '0.0.0.0'              # Listen on all interfaces
#   port:              3000                   # Use zero for auto-selection

seeing:
  class:             'WaveGenerator'
  constant:          0.0                   # [arcsec] seeing value
  outputs: ['output']


wind_speed:
  class:             'WaveGenerator'
  constant:          [.0, .0, .0]       # [m/s] Wind speed value
  outputs: ['output']


wind_direction:
  class:             'WaveGenerator'
  constant:          [-19.57, -174.84, 29.13]  # [degrees] Wind direction value
  outputs: ['output']


wfs_source:
  class:             'Source'
  polar_coordinates: [0.0, 0.0]             # [arcsec, degrees] source polar coordinates
  height:            .inf                   # Source height [m]
  magnitude:         8                      # source magnitude
  wavelengthInNm:    800                    # [nm] wavelength


pupilstop:
  class: 'Pupilstop'
  tag: 'EELT400pp0.0963m_spider2023_hexObstr'


atmo:
  class:                'AtmoEvolution'
  simul_params_ref:     'main'
  L0:                   50                   # [m] Outer scale
  heights:              [528.0, 9015.0, 16824.0]  # [m] layer heights at 0 zenith angle
  Cn2:                  [0.7954, 0.154, 0.0506]   # Cn2 weights (total must be eq 1)
  fov:                  120.0                # available FoV in the turbulence
  seed:                 2                    # layers generation seed
  inputs:
    seeing: 'seeing.output'
    wind_speed: 'wind_speed.output'
    wind_direction: 'wind_direction.output'
  outputs: ['layer_list']


disturbance_petals:
  class:             'WaveGenerator'
  wave_type:         'SQUARE' 
  constant:          [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0,0,0]  # [nm] Petals disturbance in nm RMS
  freq:              [4, 0.0, 0.0, 0.0, 0.0, 0.0, 0,0,0,0]  # [Hz] Petals disturbance frequency
  amp:               [200, 0.0, 0.0, 0.0, 0.0, 0.0,  0,0,0,0]  # Petals disturbance amplitude in nm RMS
  outputs: ['output']


disturbance_petals2:
  class:             'WaveGenerator'
  wave_type:         'TRIANGLE' 
  constant:          [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 330,0,0]  # [nm] Petals disturbance in nm RMS
  outputs: ['output']

dm_petals:
  class:             'DM'
  simul_params_ref:  'main'
  ifunc_object:      'ANDES_400pix_all_modes'
  sign:              1
  nmodes:            10                    # number of modes
  height:            0                       # DM height [m]
  inputs:
    in_command: 'disturbance_petals.output'
  outputs: ['out_layer']


dm_petals2:
  class:             'DM'
  simul_params_ref:  'main'
  ifunc_object:      'ANDES_400pix_all_modes'
  sign:              1
  nmodes:            10                    # number of modes
  height:            0                       # DM height [m]
  inputs:
    in_command: 'disturbance_petals2.output'
  outputs: ['out_layer']

prop:
  class:                'AtmoPropagation'
  simul_params_ref:     'main'
  source_dict_ref:      ['wfs_source']
  inputs:
#    atmo_layer_list: ['atmo.layer_list']
    common_layer_list: ['dm_petals.out_layer', 'dm.out_layer:-1']
  outputs: ['out_wfs_source_ef']


#static_aber_LIFT:
#  class: 'Layer'
#  tag: 'defocus_LIFT'


ef_combinator:
  class: 'ElectricFieldCombinator'
  inputs:
    in_ef1: 'prop.out_wfs_source_ef'
    #in_ef2: 'static_aber_LIFT'
    in_ef2: 'dm_petals2.out_layer'
  outputs: ['out_ef']


sh_pfs:
  class:             'SH'
  subap_wanted_fov:  0.8                     # Requested field-of-view [arcsec]
  sensor_pxscale:    0.004                   # Pixel scale in arcsec/pix
  subap_npx:         200                     # Output sampling [usually corresponding to CCD pixels]
  subap_on_diameter: 1                       # Number of subapertures in diameter
  wavelengthInNm:    1150                    # [nm] Pyramid wavelength
  inputs:
    in_ef: 'ef_combinator.out_ef'
  outputs:  ['out_i']


detector:
  class:             'CCD'
  simul_params_ref:  'main'
  size:              [200, 200]              # Detector size in pixels
  dt:                0.002                   # [s] Detector integration time
  bandw:             20                     # [nm] Sensor bandwidth
  binning:           1                       # detector binning
  photon_noise:      true                    # activate photon noise
  readout_noise:     true                    # activate readout noise
  # readout_level:     0.5                     # readout noise in [e-/pix/frame]
  readout_level:     0.0                     # readout noise in [e-/pix/frame]
  quantum_eff:       1.0                     # total throughput
  photon_seed:       2                       # photon noise seed
  readout_seed:      2                       # RON seed
  excess_seed:       2                       # excess noise seed
  # excess_noise:      true                    # activate Excess noise (EMCCDs)
  excess_noise:      false                   # activate Excess noise (EMCCDs)
  background_noise:  false                   # activate sky background noise
  darkcurrent_noise: false                   # activate dark current noise
  inputs:
    in_i: 'sh_pfs.out_i'
  outputs: ['out_pixels']


liftestimator1:
  class:             'Lift'
  simul_params_ref:  'main'  
  defocus_amp: 1.8
  nPistons: 5
  nZern: 5
  wavelengthInNm: 1150
  pix_scale: 0.004
  npix_side: 200
  cropped_size: 20
  fft_res: 2
  ifunc_object: 'ANDES_400pix_all_modes'
  inputs:
    in_pixels: 'detector.out_pixels'
  outputs: ['out_modes', 'out_modes_0', 'out_modes_1', 'out_modes_2', 'out_modes_3', 'out_modes_4']


liftestimator2:
   class:             'Lift'
   simul_params_ref:  'main'  
   defocus_amp: 1.8
   nPistons: 5
   nZern: 5
   wavelengthInNm: 1255
   pix_scale: 0.004
   npix_side: 200
   cropped_size: 20
   fft_res: 3
   ifunc_object: 'ANDES_400pix_all_modes'
   inputs:
     in_pixels: 'detector.out_pixels'
   outputs: ['out_modes', 'out_modes_0', 'out_modes_1', 'out_modes_2', 'out_modes_3', 'out_modes_4']


integrator:
   class:        'Integrator'
   simul_params_ref:  'main'
   delay:             2                      # Total temporal delay in time steps
   int_gain:          [0.15, 0]
   n_modes:           [5,5]
   inputs:
       delta_comm: 'liftestimator1.out_modes'
   outputs:  ['out_comm']


# petals2modes:
#   class: 'MVM'
#   recmat_object: 'petals_to_m4_modes'
#   inputs:
#     in_vector: 'integrator.out_comm'
#   outputs: ['out_vector']


dm:
  class:             'DM'
  simul_params_ref:  'main'
  ifunc_object:      'ANDES_400pix_all_modes'
  sign:              -1
  nmodes:            10                    # number of modes
  height:            0                       # DM height [m]
  inputs:
    in_command: 'integrator.out_comm'
  outputs: ['out_layer']


petal_analysis:
   class: 'ModalAnalysis'
   ifunc_object: 'ANDES_400pix_all_modes'
   inputs:
     in_ef: 'prop.out_wfs_source_ef'
   outputs: ['out_modes']


psf:
  class:             'PSF'
  simul_params_ref:  'main'
  wavelengthInNm:    2200                   # [nm] Imaging wavelength
  nd:                3                       # padding coefficient for PSF computation
  start_time:        0.05                   # PSF integration start time
  inputs:
    in_ef: 'prop.out_wfs_source_ef'
  outputs: ['out_psf', 'out_sr']


# data_store:
#   class:             'DataStore'
#   store_dir:         './output'             # Data result directory: 'store_dir'/TN/
#   inputs:
#     input_list: ['resMod-modal_analysis.out_modes',
#                  'resPetal-petal_analysis.out_modes',
#                  'deltaComm-modalrec.out_modes',
#                  'comm-control.out_comm',
#                  'srRes-psf.out_sr']

piston_disp0:
   class:            'PlotDisplay'
   inputs:
     value_list:       ['liftestimator1.out_modes_0', 'liftestimator1.out_modes_1', 'liftestimator1.out_modes_2', 'liftestimator1.out_modes_3', 'liftestimator1.out_modes_4']
   title:            'pistons'
